@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #888;
  line-height: 30px;
  text-align: center;
}

strong { font-weight: 600; }

a, a:hover, a:focus {
  color: #9b59b6;
  text-decoration: none;
  transition: all .3s;
}
/* headings and logo */

h1, h2 {
  margin-top: 10px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 38px;
  font-weight: 300;
  color: #252525;
  line-height: 50px;
}

#logo {
  float: left;
  font-size: 280%;
  margin-left: 30px;
  Color: #fff
}

/* bootstrap nav bar */
.navbar {
  background: #444;
  -o-transition: all .6s;
  -moz-transition: all .6s;
  -webkit-transition: all .6s;
  -ms-transition: all .6s;
  transition: all .6s;
  backface-visibility: hidden;
 
}

.navbar.navbar-no-bg {
  background: #444;
  background: rgba(0, 0, 0, 0.2);
}

.navbar-light .navbar-nav {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
  border: 0;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link:focus {
  color: #fff;
  outline: 0;
}

.navbar-expand-md .navbar-nav .nav-link {
  padding-left: 1rem;
  padding-right: 1rem;
}

.navbar-brand {
  width: 46px;
  border: 0;
  text-indent: -99999px;
}

@media screen and (max-width: 600px) {
  .navbar .navbar-nav .nav-link {
    border-left: none;
  }
}

/***** Top content *****/
.darker-overlay {
  position: absolute;
  left: 0; 
  height: 600px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
} 

.top-content {
  padding: 210px 0;
  height: 600px;
    width: 100%;
    background: url("../images/child-colouring-fadded-background.jpg") no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
    
    display: -webkit-box; 
    display: -ms-flexbox;
     display: flex; 
}

.top-content .text {
  color: #fff;
}

.top-content .text h1 {
  margin-top: 25px;
  color: #fff;
}

.top-content .description {
  margin: 30px 0 10px 0;
}

.top-content .description h3 {
  opacity: 0.8;
}

.top-content .link {
  margin-top: 45px;
}

.btn-link {
    display: inline-block;
    height: 50px;
    margin: 0 5px;
    padding: 0 28px;
    background: #82c91e;
    background: rgba(126, 182, 89, 0.7);
    border: 0;
    font-size: 15px;
    font-weight: 600;
    line-height: 48px;
    color: #fff;
    border-radius: 4px;
    transition: all .3s;
}
  
.btn-link:hover, .btn-link:focus, .btn-link:active, .btn-link:active:focus,
.btn-link.btn-primary:not(:disabled):not(.disabled):active,
.btn-link.btn-primary:not(:disabled):not(.disabled):active:focus {
    background: #9b59b6;
    background: rgba(155, 89, 182, 0.9);
    outline: 0;
    color: #fff;
    box-shadow: none;
}

  /***** Our Philosophy *****/
 
.our-philosophy-box {
  margin-top: 100px;
  margin-bottom: 100px;
  
}

.our-philosophy-box-text {
  padding-right: 30px;
  text-align:center;
}

.our-philosophy-box-text h3 {
  margin-top: 0;
}

.our-philosophy-box-text .medium-paragraph {
  margin-top: 20px;
  margin-bottom: 20px;
}


.our-philosophy-box-img img {
  border-radius: 4px;
  
}

.our-philosophy-box-img {
  box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.8);
  margin-top: 20px;
}



/***** Services *****/

.services-header {
  color: #000;
}
 .card-header {
   background: #ae0f86;
 }

 .line {
   height: 2px;
   width: 200px;
   background: #ae0f86;
   margin: 20px 0;
 }
 
 .btn-1 .btn-link-1 {
   color: #fff;
   font-size: 20px;
   text-transform: uppercase;
   text-decoration: none;
 }


/*Gallery*/


.gallery{
  margin: 4em 0;
     position: relative; 
 }
 .gallery h1{
  color:#555;
  margin: 2em; 
 }
 .gallery img{
   height: 15rem;
   width: 100%;
   margin: 1em;
   
 }

 #gallery img{
   box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.8);
 }
 

/* contact form */

 .contact-form{
  margin: 6em 0;
  position: relative;  
 }
 
 .contact-form h1{
  padding:2em 1px;
  color: #555; 
 }
 .contact-form .right{
  max-width: 600px;
 }
 .contact-form .right .btn-secondary{
  background:  #ae0f86;
  color: #fff;
  border:0;
 }
 .contact-form .right .form-control::placeholder{
  color: #888;
  font-size: 16px;
 }

 /* Footer */
 footer {
   height: 150px;
   background: #363839;
   padding: 30px;
 }

 .copyright {
   padding-top: 30px;
 }

 .social-networks {
   text-align: center;
 }

 .social-networks li {
   display: inline;
 }

 .social-networks i {
   font-size: 160%;
   margin: 1%;
   padding: 5%;
   color: #f5f9fd;
 }

 .social-networks li a i:hover {
  color: #f5f9fd;
  text-underline-position: under;
  border-bottom: solid 1px #f5f9fd;
  padding-bottom: 2px;
}

