@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300&display=swap');

.navbar {
  background: #444;
  -o-transition: all .6s;
  -moz-transition: all .6s;
  -webkit-transition: all .6s;
  -ms-transition: all .6s;
  transition: all .6s;
  backface-visibility: hidden;
}

.navbar.navbar-no-bg {
  background: #444;
  background: rgba(0, 0, 0, 0.2);
}

.navbar-dark .navbar-nav {
  font-size: 15px;
  color: #fff;
  font-weight: 600;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
  border: 0;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link:focus {
  color: #fff;
  outline: 0;
}

.navbar-expand-md .navbar-nav .nav-link {
  padding-left: 1rem;
  padding-right: 1rem;
}

.navbar-brand {
  width: 136px;
  background: url(../img/logo.png) left center no-repeat;
  border: 0;
  text-indent: -99999px;
}
  /* --Hero Image */

  .banner-container {
    height: 600px;
    width: 100%;
    background: url("../images/hero-2-img-children-playing-grass\ 256KB.jpg") no-repeat center center;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .darker-overlay {
    position: absolute;
    left: 0;
    height: 600px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }
  #logo {
    position: absolute;
    z-index: 0;
    margin: 80px 0 0 40px;
    text-align: center;
  }
  #logo h1 {
    font-weight: 500;
    font-size: 110px;
    line-height: 120px;
    letter-spacing: 4px;
    margin-bottom: 5px;
    color: #fff;
  }
  
  #logo h6 {
    font-weight: 300;
    font-size: 25px;
    padding-left: 4px;
    letter-spacing: 0.01em;
    color: #fff;
  }   


  
  /***** About us *****/
 
.about-us-box {
  margin-top: 100px;
}

.about-us-box-text {
  padding-right: 30px;
  text-align: left;
}

.about-us-box-text h3 {
  margin-top: 0;
}

.about-us-box-text .medium-paragraph {
  margin-top: 20px;
  margin-bottom: 20px;
}

.about-us-box-text a {
  border-bottom: 1px dashed #9b59b6;
}

.about-us-box-text a:hover,
.about-us-box-text a:focus {
  border: 0;
}

.about-us-box-img img {
  border-radius: 4px;
}

/* services */

#services div {
 width: 50%;
 height: 600px;
 float: left;
 overflow: hidden;
 text-align: center;
 padding: 30px 0 0 10px;
 }

 .img-size {
   height: 50px;
   width: 70px;

 }